<div class="container-fluid">
    <div class="d-flex justify-content-between p-4 fixed-top bg-white">
        <img src="assets/logo.png" alt="Logo" class="img-fluid navbar-brand" style="height: 2.5rem;">
        <div class="d-flex flex-row align-items-center">
            <i class="fas fa-times text-muted"></i>
        </div>
    </div>

    <div class="py-5"></div>

    <ng-container *ngFor="let data of messages">

        <p class="text-muted text-center" *ngIf="data.isMessage">{{ data.message }}</p>

        <div class="d-flex flex-row justify-content-start pe-5" *ngIf="data.isReceived && !data.isMessage">
            <div>
                <p class="small p-2 ms-3 mb-3 rounded-3 message" style="background-color: #f5f6f7;">{{ data.message }}
                </p>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-end ps-5" *ngIf="!data.isReceived && !data.isMessage">
            <div>
                <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-primary message">{{ data.message }}</p>
            </div>
        </div>

    </ng-container>

    <div class="d-flex flex-row justify-content-start pe-5" *ngIf="isTyping">
        <div>
            <p class="small p-2 ms-3 mb-3 rounded-3 message" style="background-color: #f5f6f7;">
                <i class="fa-solid fa-ellipsis fa-bounce"></i>
            </p>
        </div>
    </div>

    <div class="py-5"></div>
    <div class="py-3"></div>

    <div class="d-flex align-items-center py-4 pe-3 fixed-bottom bg-white">
        <input type="text" class="form-control br-25 mx-3" placeholder="Type message" [(ngModel)]="message"
            (keyup.enter)="sendMessage()" (ngModelChange)="emitTyping()"/>
        <button class="btn btn-primary br-25" type="button" (click)="sendMessage()">
            <i class="fa-solid fa-paper-plane fa-beat"></i>
        </button>
    </div>
</div>